
header {
    background-color: rgb(248, 248, 243);
    padding: 16px;
    
   
  }
  
  header h1 {
    color: rgb(173, 93, 17);
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
  }
  
  nav {
    background-color: rgb(151, 87, 34);
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: small;
  
  }
  
  nav ul {
  
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: white;
  
  }
  
  nav ul li {
  
    flex-grow: 1;
    padding: 3px 6px;
    display: block;
    text-align: center;
  
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
  
  }
  
  nav ul li a:hover {
    text-decoration: none;
    font-weight: bold;
  
  }
  
  nav ul li a.activo {
    background-color: rgb(112, 38, 4);
  
  }
  

footer {
    background-color: rgb(250, 227, 122);
    clear: both;
    color: rgb(14, 10, 0);
    font-size: small;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
  }
  