.cuadrados {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 50px;
}

.cuadrado {
    height: 150px;
    width: 150px;
    cursor: pointer;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    


}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}
.amarillo {
    background-color:yellow ;
}
.rosa {
    background-color: pink;
}