body{
margin: 0;
padding:0 ;
}

header {
  background-color: rgb(231, 231, 135);
  padding: 16px;
  
 
}

header h1 {
  color: rgb(173, 93, 17);
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
  display: inline-block;
  position: relative;
  bottom: 35px;
  margin-left: 10px;
}


footer {
  background-color: rgb(247, 211, 53);
  clear: both;
  color: rgb(14, 10, 0);
  font-size: medium;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
}

body {
  font-family: "Noto Serif", serif;
  font-size: 15px;
  line-height: 20px;

}

.holder {
  max-width: 960px;
  margin: 0 auto;
}

